body {
    font-family: arial,sans-serif;
    color: rgb(95, 99, 104);
}

  #nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      position: fixed;
      top: 0;
      width: 100%;
  }

  a {
      text-decoration: none;
      color: rgb(95, 99, 104);
  }

  a:hover {
      text-decoration: underline;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 20px 0px 20px;
  }

  .nav-footer-link {
    padding: 0px 20px 0px 20px;
  }

  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  #logo {
      padding: 200px 0px 25px 0px;
  }

  .search-bar {
      display: flex;
      position: relative;
  }

  .search-icon {
      position: absolute;
      margin-top: 7px;
  }

  #ff-icon {
      margin-left: 6.5px;
  }

  #vs-icon {
    margin-left: 544.5px;
  }

  #search-field {
      border-radius: 24px;
      width: 532px;
      height: 44px;
      border: 1px solid #dfe1e5;
      padding-left: 50px;
  }

  .search-icon {
      height: 34px;
      width: 34px;
  }


  .search-buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 18px;
  }

  button {
      border-radius: 4px;
      border: 1px solid #f2f2f2;
      background-color: #f2f2f2;
      font-family: arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      color: rgb(95, 99, 104);
  }

  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e4e4e4;
}